.ToolBarMenu {
    background-image: url(../../../../ToolBar/Toolbackground.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.ToolBarMenu_right {
    background-image: url(../../../../ToolBar/Toolbackground.png);
    background-repeat: no-repeat ;
    background-size: cover ;
}